client java/UserClientWeb/src/META-INF/wsdl/localhost_8080/services/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.UserManagerWS.mdk.sn/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UtilisateurWebServiceImplService" targetNamespace="http://service.UserManagerWS.mdk.sn/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.UserManagerWS.mdk.sn/" elementFormDefault="unqualified" targetNamespace="http://service.UserManagerWS.mdk.sn/" version="1.0">

  <xs:element name="ajout" type="tns:ajout"/>

  <xs:element name="ajoutResponse" type="tns:ajoutResponse"/>

  <xs:element name="authentication" type="tns:authentication"/>

  <xs:element name="authenticationResponse" type="tns:authenticationResponse"/>

  <xs:element name="getUserById" type="tns:getUserById"/>

  <xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse"/>

  <xs:element name="lister" type="tns:lister"/>

  <xs:element name="listerResponse" type="tns:listerResponse"/>

  <xs:element name="modifier" type="tns:modifier"/>

  <xs:element name="modifierResponse" type="tns:modifierResponse"/>

  <xs:element name="supprimer" type="tns:supprimer"/>

  <xs:element name="supprimerResponse" type="tns:supprimerResponse"/>

  <xs:element name="utilisateur" type="tns:utilisateur"/>

  <xs:complexType name="authentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajout">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ajoutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprimer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="supprimerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lister">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:LoginRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:utilisateur"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="authentication">
    <wsdl:part element="tns:authentication" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ajout">
    <wsdl:part element="tns:ajout" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerResponse">
    <wsdl:part element="tns:listerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supprimerResponse">
    <wsdl:part element="tns:supprimerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supprimer">
    <wsdl:part element="tns:supprimer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ajoutResponse">
    <wsdl:part element="tns:ajoutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifier">
    <wsdl:part element="tns:modifier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserByIdResponse">
    <wsdl:part element="tns:getUserByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticationResponse">
    <wsdl:part element="tns:authenticationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lister">
    <wsdl:part element="tns:lister" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserById">
    <wsdl:part element="tns:getUserById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifierResponse">
    <wsdl:part element="tns:modifierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserWebService">
    <wsdl:operation name="authentication">
      <wsdl:input message="tns:authentication" name="authentication">
    </wsdl:input>
      <wsdl:output message="tns:authenticationResponse" name="authenticationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajout">
      <wsdl:input message="tns:ajout" name="ajout">
    </wsdl:input>
      <wsdl:output message="tns:ajoutResponse" name="ajoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimer">
      <wsdl:input message="tns:supprimer" name="supprimer">
    </wsdl:input>
      <wsdl:output message="tns:supprimerResponse" name="supprimerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifier">
      <wsdl:input message="tns:modifier" name="modifier">
    </wsdl:input>
      <wsdl:output message="tns:modifierResponse" name="modifierResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lister">
      <wsdl:input message="tns:lister" name="lister">
    </wsdl:input>
      <wsdl:output message="tns:listerResponse" name="listerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <wsdl:input message="tns:getUserById" name="getUserById">
    </wsdl:input>
      <wsdl:output message="tns:getUserByIdResponse" name="getUserByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilisateurWebServiceImplServiceSoapBinding" type="tns:UserWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authentication">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authentication">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authenticationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ajout">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ajoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="supprimer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="supprimerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lister">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="lister">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilisateurWebServiceImplService">
    <wsdl:port binding="tns:UtilisateurWebServiceImplServiceSoapBinding" name="UtilisateurWebServiceImplPort">
      <soap:address location="http://localhost:8080/services/UserWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>